.container {
  max-width: 1130px;
  width: 100%;
  margin-left: 20px;
}
.title {
  font-size: 26px;
}
.description {
  font-size: 20px;
}

@media (max-width: 425px) {
  .container {
    margin-left: 10px;
  }
}
