.container {
  max-width: 300px;
  width: 100%;
}

.sidebar {
  position: fixed;
  overflow: auto;
  height: 570px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu {
  margin-left: 15px;
  font-size: 20px;
}
.block {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 10px;
  justify-content: space-between;
}
.blockActive {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  border-right: 2px solid #4f27bf;
  text-decoration: none;
}
.navItem {
  text-decoration: none;
  display: flex;
}
.navSubItem {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 30px;
}
.icon {
  width: 25px;
  height: 25px;
}
.title {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 15px;
  position: relative;
}

.arrow {
  transform: rotate(0);
  transition: 0.3s;
}
.arrowActive {
  transform: rotate(0.5turn);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .container {
    max-width: 50px;
    overflow: hidden;
  }
  .sidebar {
    max-width: 50px;
    height: 300px;
    overflow: auto;
  }
  .menu {
    display: none;
  }
  .navItem {
    width: 35px;
    height: 35px;
  }
  .block {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }
  .navSubItem {
    margin-left: 0;
  }
}
